# Domain
DOMAIN_NAME=YOUR_LOGIN.42.fr
DB_NAME=wordpress
DB_USER=wp_user

# WordPress admin
WP_ADMIN_USER=YOUR_LOGIN
WP_ADMIN_EMAIL=YOUR_LOGIN@student.42.fr
WP_USER=editor
WP_USER_EMAIL=editor@student.42.fr

# FTP
FTPS_USER=YOUR_LOGIN